# Override Yarn command so we can automatically setup the repo on running `yarn`
# 有些体积比较大的文件，比如react-dom-16.12.0.tgz，下载超时，被认为网络链接的问题，
# 所以需要修改网络超时的时间，下面文件中的600000是指600000/1000 = 600秒，即5分钟。
yarn-path "scripts/bootstrap.js"
